---
index: yes
header1: "Developing environmentally friendly solutions that help small farmers"
paragraph: "Through management intensive grazing, etc etc etc etc etc etc etc etc."
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div id="project-body">
      <div id="navwrapper">
                <div id="logo">
                  <h1>GP Voisin</h1>
                </div>
                <nav>
                    <ul id="navbar">
                        <li><a href="index.html">Home</a></li>
                        <li id="project-nav"><a href="project.html">Project</a>
                        <div class="dropdown-content-wrapper">
                          <ul class="dropdown-content">
                            <li><a href="project.html">Description</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="research.html">Research</a></li>
                        </ul>
                        </div>
                        </li>
                        <li><a href="partners.html">Partners</a></li>
                        <li><a href="getinvolved.html">Get Involved</a></li>
                    </ul>
                </nav>
            </div>
        <div class="content-wrapper">
            <h1>Farmers</h1>
            <div id="farmers" class="partners">
              {% assign items = site.EDITpartners | sort: 'weight' %}
              {% for partner in items %}
              {% if partner.type contains "farmer-description" %}
                <div class="partners-description">
                    <h2>{{ partner.title }}</h2>
                    {{ partner.content }}
                </div>
              {% endif %}
              {% endfor %}
                {% for partner in items %}
                {% if partner.class contains "farmer" %}
                <div class="partners-profile">
                  <img src="{{site.url}}/images/partners/{{ partner.img }}">
                  <h3>{{ partner.name }}</h3>
                  {{ partner.content }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <h1>UFSC</h1>
            <div id="ufsc" class="partners">
                {% for partner in items %}
                {% if partner.type contains "ufsc-description" %}
                  <div class="partners-description">
                      <h2>{{ partner.title }}</h2>
                      {{ partner.content }}
                  </div>
                {% endif %}
                {% endfor %}
                {% for partner in items %}
                {% if partner.class contains "ufsc" %}
                <div class="partners-profile">
                  <img src="{{site.url}}/images/partners/{{ partner.img }}">
                  <h3>{{ partner.name }}</h3>
                  {{ partner.content }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <h1>GUND</h1>
            <div id="gund" class="partners">
              {% for partner in items %}
              {% if partner.type contains "gund-description" %}
                <div class="partners-description">
                    <h2>{{ partner.title }}</h2>
                    {{ partner.content }}
                </div>
              {% endif %}
              {% endfor %}
              {% for partner in items %}
              {% if partner.class contains "gund" %}
              <div class="partners-profile">
                <img src="{{site.url}}/images/partners/{{ partner.img }}">
                <h3>{{ partner.name }}</h3>
                {{ partner.content }}
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <h1>Government</h1>
            <div id="government" class="partners">
              {% for partner in items %}
              {% if partner.type contains "government-description" %}
                <div class="partners-description">
                    <h2>{{ partner.title }}</h2>
                    {{ partner.content }}
                </div>
              {% endif %}
              {% endfor %}
              {% for partner in items %}
              {% if partner.class contains "government" %}
              <div class="partners-profile">
                <img src="{{site.url}}/images/partners/{{ partner.img }}">
                <h3>{{ partner.name }}</h3>
                {{ partner.content }}
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <h1>Organizations</h1>
            <div id="organizations" class="partners">
              {% for partner in items %}
              {% if partner.type contains "organization-description" %}
                <div class="partners-description">
                    <h2>{{ partner.title }}</h2>
                    {{ partner.content }}
                </div>
              {% endif %}
              {% endfor %}
              {% for partner in items %}
              {% if partner.class contains "organization" %}
              <div class="partners-profile">
                <img src="{{site.url}}/images/partners/{{ partner.img }}">
                <h3>{{ partner.name }}</h3>
                {{ partner.content }}
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="padding"></div>
        </div>

    </div>

</body>

</html>
